<h3>Datos de contacto</h3>
<p>
    <mat-form-field appearance="fill">
        <mat-label>Nombre:</mat-label>
        <input matInput placeholder="Nombre">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field class="inlineFormControl" appearance="fill">
        <mat-label>Primer Apellido:</mat-label>
        <input matInput placeholder="1er Apellido">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field class="inlineFormControl" appearance="fill">
        <mat-label>Segundo Apellido:</mat-label>
        <input matInput placeholder="2ndo Apellido">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="fill">
        <mat-label>CIF / NIF:</mat-label>
        <input matInput placeholder="NIF">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-slide-toggle color="primary" class="inlineFormControl">Autónomo</mat-slide-toggle>
    <mat-slide-toggle color="primary" class="inlineFormControl">Médico</mat-slide-toggle>
</p>
<p>
    <mat-form-field appearance="fill">
        <mat-label>Telefono:</mat-label>
        <input matInput placeholder="Telefono">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
    <mat-form-field class="inlineFormControl" appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="Email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>
<mat-card-actions>
    <button mat-raised-button matStepperPrevious color="accent">Regresar</button>
    <button mat-raised-button matStepperNext color="accent">Continuar</button>
</mat-card-actions>