<div>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Compliance
            </mat-panel-title>
            <mat-panel-description>
              Documentos necesarios para la contratación (DNI, poderes, constitución)
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Información Financiera
            </mat-panel-title>
            <mat-panel-description>
                Mod.200, IRPF, Balance y PyG del año en curso, etc...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Operación
            </mat-panel-title>
            <mat-panel-description>
                Proformas, facturas, fichas tecnicas, etc...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<mat-divider style="margin-top: 2rem;"></mat-divider>
<mat-card-actions style="margin-top: 3rem;">
    <button mat-raised-button matStepperPrevious color="accent">Regresar</button>
    <button mat-raised-button matStepperNext color="accent">Validar</button>
</mat-card-actions>
