<div>
    <div class="title">
        Equipo {{equipNumber}}
    </div>
    <mat-form-field>
        <mat-label>Sector del equipo</mat-label>
        <mat-select (selectionChange)=selectSector($event.value)>
        <mat-option *ngFor="let sector of sectors" value="{{sector.value}}">
            {{sector.viewValue}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="inlineFormControl make" appearance="legacy">
        <mat-label>Marca</mat-label>
        <input matInput placeholder="Marca">
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="inlineFormControl" appearance="legacy">
        <mat-label>Modelo</mat-label>
        <input matInput placeholder="Modelo">
        <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="inlineFormControl quantity" appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput placeholder="Cantidad">
    </mat-form-field>
    <mat-form-field class="inlineFormControl price" appearance="outline">
        <mat-label>Precio s/ IVA x unidad</mat-label>
        <input matInput placeholder="Precio por unidad">
    </mat-form-field>
</div>
