<div>
    <h3 style="margin: auto">
        Cláusula informativa protección de datos para el Cliente Final
    </h3>
    <p>
    En cumplimiento de lo establecido en la normativa sobre protección de datos, le informamos que los datos personales facilitados durante la relación mantenida, serán tratados por: 
    <p>
    <b>ITL Equipment Finance, S.L.U. </b>(en adelante ITL),
    </p>
    <p>
    con domicilio social en:
    </p>
    <p>
    Madrid (España), Avenida de Brasil 29, planta 1, 28020 y
    </p>
    <p>
    NIF: <b>B-87451084</b>,
    </p>
    <p>
    con el fin de atender posibles procesos de financiación y crédito. Todo ello con base de legitimación la  ejecución de precontratos. Sus datos serán mantenidos durante el tiempo que dure la relación. Una vez finalizado dicho tiempo serán bloqueados única y exclusivamente hasta 6 años con la finalidad de atender las posibles responsabilidades que pudieran surgir en atención a la relación contractual.
    </p>
    <p>Asimismo, con la finalidad de atender posibles procesos de financiación y crédito cederemos sus datos a entidades financieras, lo que Vd. consiente con la firma o aceptación de este documento. Podrá oponerse a la cesión de sus datos en cualquier momento comunicándolo mediante un correo electrónico dirigido a <b>administracion@itlfinance.com</b>. No obstante, tenga en cuenta que, si se opone a la cesión de sus datos, los procesos de financiación pueden no ser atendidos de forma correcta.
    </p>
    En cualquier momento podrá ejercer sus derechos de a acceso, rectificación, supresión, portabilidad, limitación u oposición, escribiendo a ITL, a la dirección arriba indicada. Deberá incluir una copia de su documento de identidad o documento oficial análogo que le identifique. Asimismo le informamos que puede acudir a la Autoridad de Control para hacer valer sus derechos en protección de datos.
    <p>
    RADIO BUTTON: No deseo recibir comunicacion de ITL
    </p>
    <p>
    RADIO BUTTON: Estoy de acuerdo con las condiciones generales de uso
    </p>
    <mat-card-actions>
        <button mat-raised-button matStepperNext color="accent">Siguiente</button>
    </mat-card-actions>
</div>
